<h2 class="text-2xl font-bold mb-6">Your Cart</h2>

@if (items().length === 0) {
  <p>Your cart is empty.</p>
}

@if (items().length > 0) {
  <div class="space-y-4">
    @for (item of items(); track item.id) {
      <div class="flex justify-between items-center bg-white p-4 rounded shadow">
        <div>
          <h3 class="font-semibold">{{ item.title }}</h3>
          <p class="text-sm text-gray-500">Quantity: {{ item.quantity }}</p>
        </div>

        <div class="flex items-center gap-4">
          <span class="font-bold"> ₹{{ item.price * item.quantity }} </span>

          <button (click)="remove(item.id)" class="text-red-600 hover:text-red-400">Remove</button>
        </div>
      </div>
    }
  </div>

  <div class="mt-6 flex justify-between items-center">
    <span class="text-lg font-bold"> Total: ₹{{ totalPrice() }} </span>

    <button
      (click)="clear()"
      class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-500 transition"
    >
      Clear Cart
    </button>
  </div>
}
