<h2>Products</h2>
@if (loading()) {
  <app-loader message="Products Loading..."></app-loader>
}

@if (!loading() && error()) {
  <app-error-message message="Failed to load products."></app-error-message>
}

@if (!loading() && !error() && products().length === 0) {
  <p>No products available.</p>
}

@if (!loading() && !error() && products().length > 0) {
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    @for (product of products(); track product.id) {
      <app-product-card [product]="product"></app-product-card>
    }
  </div>
}
