<h2>Products</h2>
@if (loading()) {
  <app-loader message="Products Loading..."></app-loader>
}

@if (!loading() && error()) {
  <app-error-message message="Failed to load products."></app-error-message>
}

@if (!loading() && !error() && products().length === 0) {
  <p>No products available.</p>
}

@if (!loading() && !error() && products().length > 0) {
  <ul>
    @for (product of products(); track product.id) {
      <li>
        <a [routerLink]="['/products', product.id]"> {{ product.title }} - ₹{{ product.price }} </a>
      </li>
    }
  </ul>
}
